<footer class="footer">
  <div class="footer_inner_wrapper">
    <div class="footer_left">
      <div style="padding: 0px 20px 0px 20px">The <a href="https://railstutorial.jp/">Ruby on Rails Tutorial</a></div>
      <div>by <a href="http://www.michaelhartl.com/">Michael Hartl</a></div>
    </div>
    <div class="footer_right">
      <div><%= link_to "About", about_path  %></div>
      <div style="margin: 0px 20px 0px 20px"><%= link_to "Contact", contact_path %></div>
      <div style="padding-right: 20px"><a href="http://news.railstutorial.org/">News</a></div>
    </div>
  </div>
</footer>
